@{
    ViewData["Title"] = "Home Page";
}


    <h4>Registrar Persona</h4>
    
        <form role="form" class="form-horizontal">
            <br />
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-12">
                    Nombre
                </label>
                <div class="col-md-6 col-sm-12">
                    <input class="form-control" type="text" ng-model="model.nombre" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-12">
                    Nro Documento
                </label>
                <div class="col-md-6 col-sm-12">
                    <input class="form-control" type="number" ng-model="model.nroDocumento" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-12">
                    Domicilio
                </label>
                <div class="col-md-6 col-sm-12">
                    <input class="form-control" type="text" ng-model="model.domicilio" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-12">
                    Telefono
                </label>
                <div class="col-md-6 col-sm-12">
                    <input class="form-control" type="number" ng-model="model.telefono" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-12">
                    Email
                </label>
                <div class="col-md-6 col-sm-12">
                    <input class="form-control" type="email" ng-model="model.email" />
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" id="enviarConsulta" class="btn btn-sm btn-success" ng-click="enviarRegistracionPractica()">Aceptar <span aria-hidden="true"></span></button>
                <a type="button" asp-controller="Persona" asp-action="Index" class="aceptar btn btn-sm btn-danger">Cancelar</a>                                
            </div>
        </form>