@{
    ViewData["Title"] = "Home Page";
}          
<div ng-controller="PersonaIndexController">             
    <div class="form-group col-md-12"> 
                <div class="table-responsive">
                    <h4>Listado de Personas</h4>
                    <div class="col-md-12">

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-12">
                            Filtro de Busqueda
                        </label>
                        <div class="col-md-4 col-sm-12">
                            <input class="form-control" type="text" ng-model="model.buscarPersona" placeholder="Ingrese un valor" />
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a type="button" asp-controller="Persona" asp-action="Create" class="aceptar btn btn-sm btn-info">Registrar Persona</a>         
                        </div>
                    </div>
                    <div class=""></div> 
                    <br/>                        
                    <hr/>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="1" style="background-color: darkgray">Nombre</th>
                                    <th colspan="1" style="background-color: darkgray">Dni</th>
                                    <th colspan="1" style="background-color: darkgray">Direccion</th>
                                    <th rowspan="1" style="background-color: darkgray">Telefono</th>
                                    <th rowspan="1" style="background-color: darkgray">Email</th>
                                    <th rowspan="1" style="background-color: darkgray; padding: auto">Accion</th>
                                </tr>
                            </thead>
                            <tbody
                                <tr ng-repeat="persona in personas">
                                    <td>{{persona.nombre}}</td>
                                    <td>{{persona.dni}}</td>
                                    <td>{{persona.direccion}}</td>
                                    <td>{{persona.telefono}}</td>
                                    <td>{{persona.email}}</td>
                                    <td>
                                        <a type="button" asp-controller="Persona" asp-action="Edit" class="btn-xs" ng-click="deletepersonaToGrid(persona)">Editar</a>
                                        <a type="button" asp-controller="Persona" asp-action="Delete" class="btn-xs" ng-click="deletepersonaToGrid(persona)">Borrar</a>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>        
</div>

@section scripts{
	<script src="~/js/controllers/persona/PersonaIndexController.js"></script>
}

